@font-face {
  font-family: 'SFUIDisplayRegular';
  src: local("SFUIDisplayRegular"), local("SFUIDisplayRegular"), url("fonts/sfuidisplay/SFUIDisplayRegular.ttf") format("truetype"); }

@font-face {
  font-family: 'SFUIDisplaySemiBold';
  src: local("SFUIDisplaySemiBold"), local("SFUIDisplaySemiBold"), url("fonts/sfuidisplay/SFUIDisplaySemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SFUIDisplayBold';
  src: local("SFUIDisplayBold"), local("SFUIDisplayBold"), url("fonts/sfuidisplay/SFUIDisplayBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SFUIDisplayHeavy';
  src: local("SFUIDisplayHeavy"), local("SFUIDisplayHeavy"), url("fonts/sfuidisplay/SFUIDisplayHeavy.ttf") format("truetype"); }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1220px; }
    .container-mini {
      max-width: 1100px; } }

body {
  font-family: 'SFUIDisplayRegular';
  color: #3b3b3b; }
input[type='text'] {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  width: 100%;
  padding: 8px 15px;
  outline: none; }
  input[type='text'].name {
    background: url("../images/input_name.png") right 10px center no-repeat; }
  input[type='text'].phone {
    background: url("../images/input_phone.png") right 10px center no-repeat; }

textarea {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  width: 100%; }

select {
  width: 100%;
  font-family: 'SFUIDisplayBold';
  color: #2085e1;
  font-size: 16px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #c7c7c7;
  padding: 3px 8px 5px 8px;
  outline: none; }

h2 {
  font-size: 28px; }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 35px; } }

.header_logo{
  height:100px;
}
.main-menu{
  margin-left: -60px;
}
.lh-2 {
  line-height: 1.2; }

.ff-sfsm {
  font-family: 'SFUIDisplaySemiBold'; }

.ff-sfb {
  font-family: 'SFUIDisplayBold'; }

.ff-sfh {
  font-family: 'SFUIDisplayHeavy'; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.fs-24 {
  font-size: 24px; }

.fs-28 {
  font-size: 28px; }

.fs-35 {
  font-size: 35px; }

.fs-50 {
  font-size: 50px; }

.color-black {
  color: #3b3b3b; }

.color-blue {
  color: #2085e1; }

.color-red {
  color: #c65c5e; }

.color-gray1 {
  color: #919191; }

.color-gray2 {
  color: #c8c8c8; }

@media screen and (min-width: 992px) {
.cp {
    cursor: pointer; } }

.button-blue, .button-line, .button-white {
  text-align: center;
  display: inline-block;
  font-family: 'SFUIDisplaySemiBold'; }

.button-blue {
  padding: 15px 20px;
  background-color: #2085e1;
  color: #fff; }
  .button-blue:hover {
    background-color: #0468c4; }

.button-line {
  padding: 10px 20px;
  border: 1px solid #c7c7c7;
  font-size: 18px;
  font-family: 'SFUIDisplayRegular'; }
  .button-line-selected {
    border-color: #2085e1;
    box-shadow: 0px 0px 0px 1px #2085e1;
    font-family: 'SFUIDisplaySemiBold'; }

.button-white {
  padding: 15px 60px;
  background-color: #fff; }

@media screen and (min-width: 992px) {
  .button-blue, .button-line, .button-white {
    cursor: pointer; }
  .button-blue {
    padding: 15px 60px; } }

.button-animation {
  display: inline-block;
  position: relative;
  line-height: 50px;
  padding: 0 35px 0 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s;
  color: #fff;
  text-align: center;
  background-color: #fff; }
  .button-animation::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 54px;
    background: url("../images/button_blue.svg") right center/auto 70px no-repeat;
    transition: left 0.3s; }
  .button-animation span {
    position: relative; }
  @media screen and (min-width: 992px) {
    .button-animation {
      border: 2px solid #2085e1;
      padding: 0 50px;
      color: #3b3b3b; }
      .button-animation::before {
        left: -100%; }
      .button-animation:hover {
        color: #fff;
        background-color: transparent;
        border-color: transparent; }
        .button-animation:hover::before {
          left: 0; } }

.line-dot {
  position: relative;
  padding-left: 15px; }
  .line-dot::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #4f4f4f; }

.header {
  padding: 10px 0; }
  .header-image {
      width: 300px; }
  .header-phone {
    font-size: 16px; }
  .header-link {
    margin: 0 20px;
    cursor: pointer; }
  .header-button {
    background-color: #2085e1;
    color: #fff;
    padding: 1px 8px;
    display: inline-block;
    cursor: pointer; }
  @media screen and (min-width: 992px) {
    .header {
      padding: 20px 0; }
      .header-image {
          width: 300px; }
      .header-phone {
        font-size: 22px; } }

.owl-carousel button {
  outline: none; }

.owl-item img {
  width: auto !important; }

.owl-dots {
  text-align: center;
  margin-top: 25px; }
  .owl-dots button {
    width: 10px;
    height: 10px;
    border: 2px solid #dddddd !important;
    margin: 0 3px; }
    .owl-dots button.active {
      background-color: #dddddd; }

.owl-prev, .owl-next {
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff !important;
  width: 40px;
  opacity: 0.6; }
  .owl-prev span, .owl-next span {
    font-size: 50px;
    line-height: 0.8; }
  @media screen and (min-width: 992px) {
    .owl-prev, .owl-next {
      opacity: 1;
      width: auto;
      box-shadow: none;
      background-color: transparent !important; } }

.owl-prev {
  left: -5px; }

.owl-next {
  right: -5px; }

@media screen and (min-width: 992px) {
  .owl-prev {
    left: -15px; }
  .owl-next {
    right: -15px; } }

.modal-content {
  border: none;
  border-radius: 0; }

.modal-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }

.modal-body {
  padding: 30px; }

.modal-call__title, .modal-employee__title {
  font-size: 20px;
  font-family: 'SFUIDisplayHeavy';
  margin-bottom: 30px; }

.modal-video {
  background-color: transparent; }
  .modal-video iframe {
    border: none; }

.modal-image {
  text-align: center; }
  .modal-image img {
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.45); }

.modal-carousel {
  background: transparent; }
  .modal-carousel img {
    max-width: 100%;
    margin: auto; }
  .modal-carousel .modal-close {
    display: none;
    color: #fff; }
  .modal-carousel .owl-dots {
    margin-top: 0; }
  @media screen and (min-width: 992px) {
    .modal-carousel .owl-item {
      padding: 0 30px; }
    .modal-carousel span {
      color: #fff; } }

@media screen and (min-width: 992px) {
  .modal-close {
    width: 70px;
    height: 70px;
    cursor: pointer; 
    z-index: 1000;
  }
  .modal-body {
    /* padding: 130px;  */
  }
  .modal:not(#modalCarouselInsta) .modal-body {
    padding: 130px;
  }

  .modal-call {
    background: #fff url("../images/modal_call.jpg") right bottom no-repeat; }
    .modal-call__title {
      font-size: 28px;
      margin-bottom: 50px;
      width: 500px; }
    .modal-call__form {
      width: 350px; }
  .modal-employee {
    background: #fff url("../images/modal_employee.jpg") right bottom no-repeat; }
    .modal-employee__title {
      font-size: 28px;
      margin-bottom: 50px; }
    .modal-employee__form {
      width: 450px; } 
}

.begin {
  padding: 20px 0;
  /* background: url("../images/begin_bg.jpg") center/cover no-repeat;  */
}
  .begin-m2 {
    color: #2085e1;
    font-size: 22px;
    position: absolute;
    padding-left: 10px;
    font-family: 'SFUIDisplayRegular'; }
  .begin-item {
    display: flex;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.3); }
    .begin-item__image {
      background-color: #f2f2f2;
      width: 82px;
      height: 82px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .begin-item__text {
      margin-left: -12px; }
  @media screen and (min-width: 992px) {
    .begin {
      /* background: url("../images/begin_bg.jpg") center top no-repeat; */
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1200px) {
    .begin {
      min-height: 770px; } }

.calculator {
  background-color: #fff;
  padding: 30px; }
  .calculator-value {
    color: #2085e1;
    font-size: 16px;
    font-family: 'SFUIDisplayBold'; }
    .calculator-value input {
      padding: 0;
      text-align: center;
      border: none;
      color: #2085e1;
      background-color: #d3d3d36e;
      border-radius: 5px;
      margin-right: 5px; }
  @media screen and (min-width: 1200px) {
    .calculator {
      padding: 50px 60px;
      width: 550px;
      float: right; } }

.selector {
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 2px 12px;
  width: 200px;
  font-family: 'SFUIDisplayBold';
  color: #2085e1;
  font-size: 18px;
  background: url("../images/selector_arrow.jpg") right 10px center no-repeat; }

.slider {
  width: 130px;
  height: 3px;
  background-color: #2085e1; }

.friends {
  margin: 40px 0; }
  .friends-block {
    padding: 30px;
    background-color: #fff;
    box-shadow: -5px 10px 50px rgba(173, 173, 173, 0.3); }
    .friends-block__title {
      font-family: 'SFUIDisplayBold';
      font-size: 35px;
      line-height: normal;
      margin-bottom: 30px; }
  @media screen and (min-width: 992px) {
    .friends {
      margin: 100px 0; }
      .friends-block {
        padding: 90px 180px 90px 110px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .friends-block__left {
          flex: 0 0 500px;
          background: url("../images/friends_bg.png") top 5px left no-repeat;
          padding: 0 0 0 60px; }
        .friends-block__right {
          flex: 0 0 250px; } }

.prices {
  margin: 40px 0; }
  @media screen and (min-width: 992px) {
    .prices {
      margin: 100px 0 70px 0; }
      .prices-remont {
        padding-top: 10px;
        cursor: pointer; }
        .prices-remont__list {
          min-height: 280px; }
        .prices-remont__button {
          opacity: 0; }
        .prices-remont:hover {
          box-shadow: 0px 0px 30px rgba(165, 166, 167, 0.3); }
          .prices-remont:hover .prices-remont__button {
            opacity: 1; } }

.profitable {
  padding: 40px 0;
  /* background: url("../images/profitable_bg.jpg") center/cover no-repeat;  */
}
  .profitable-percent {
    font-family: 'SFUIDisplayHeavy';
    color: #fff;
    text-shadow: -5px 5px 40px rgba(93, 93, 93, 0.35);
    font-size: 150px;
    line-height: 1.1; }
  .profitable-item {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 23px; }
    .profitable-item::before {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      width: 10px;
      height: 10px;
      background-color: #b8b8c4; }
  @media screen and (min-width: 992px) {
    .profitable {
      padding: 110px 0;
      /* background: url("../images/profitable_bg.jpg") center no-repeat;  */
    }
      .profitable-percent {
        font-size: 220px;
        line-height: 1.1; } }

.control {
  margin: 40px 0; }
  .control-item__image img {
    width: 120px; }
  @media screen and (min-width: 992px) {
    .control {
      margin: 80px 0 100px 0; }
      .control-item {
        flex: 0 0 19%;
        padding-right: 20px; }
        .control-item__image {
          display: flex;
          align-items: center;
          height: 235px; }
          .control-item__image img {
            width: auto; } }

.order {
  margin: 40px 0; }
  .order-block {
    background-color: #fff;
    box-shadow: 0px 0px 50px #adadad;
    display: flex;
    justify-content: space-between; }
  .order-form {
    padding: 30px;
    flex: 1 1; }
  @media screen and (min-width: 992px) {
    .order {
      margin: 100px 0; }
      .order-form {
        padding: 70px 50px 50px 90px; }
      .order .order-carousel {
        width: 470px; }
        .order .order-carousel .owl-dots {
          margin-top: -35px;
          position: relative;
          padding-bottom: 10px; }
        .order .order-carousel .owl-prev, .order .order-carousel .owl-next {
          top: 50%;
          margin-top: 10px;
          background-color: #fff !important;
          width: 40px;
          opacity: 0.9; }
        .order .order-carousel .owl-prev {
          left: 0; }
        .order .order-carousel .owl-next {
          right: 0; } }

.masters,
.materials {
  margin: 40px 0; }
  @media screen and (min-width: 992px) {
    .masters,
    .materials {
      margin: 100px 0; } }

.examples {
  position: relative; }
  .examples-carousel {
    width: 100%; }
    .examples-carousel .owl-dots {
      margin-top: -30px;
      position: relative; }
    .examples-carousel .owl-prev, .examples-carousel .owl-next {
      top: 50%;
      margin-top: 0;
      background-color: #fff !important;
      width: 40px;
      opacity: 0.9; }
    .examples-carousel .owl-prev {
      left: 0; }
    .examples-carousel .owl-next {
      right: 0; }
    .examples-carousel img {
      width: 100% !important; }
  .examples-block {
    margin-top: 20px; }
  @media screen and (min-width: 992px) {
    .examples {
      padding: 50px 0; }
      .examples::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        background-color: #f2f3f7; }
      .examples-carousel {
        position: absolute;
        width: 550px; }
        .examples-carousel img {
          border-radius: 10px;
          widows: auto; }
      .examples-block {
        margin-top: 0;
        padding: 50px 50px 50px 100px;
        flex: 0 0 450px;
        background-color: #fff;
        box-shadow: 0px 0px 50px rgba(173, 173, 173, 0.44); } }
  @media screen and (min-width: 1200px) {
    .examples {
      padding: 100px 0; }
      .examples-carousel {
        width: 790px; }
      .examples-block {
        min-height: 570px; } }

.principles {
  margin: 40px 0; }
  .principles-item__image {
    background-color: #fff;
    box-shadow: -15px 15px 50px #c5c8d1b0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    flex: 0 0 80px; }
  @media screen and (min-width: 992px) {
    .principles {
      margin: 100px 0; } }

.certificates {
  padding: 40px 0;
  background: url("../images/certificates/bg.jpg") left -30px top no-repeat; }
  .certificates-link {
    display: inline-block;
    color: #2085e1;
    font-family: 'SFUIDisplayBold';
    cursor: pointer;
    background: url("../images/certificates/link.png") right center no-repeat;
    padding-right: 20px; }
  .certificates-images img {
    margin-left: 20px;
    cursor: pointer; }
  @media screen and (min-width: 992px) {
    .certificates {
      padding: 100px 0 150px 0; }
      .certificates-image {
        position: relative;
        cursor: pointer; }
        .certificates-image::before {
          display: none;
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: url("../images/certificates/loop.png") center no-repeat; }
        .certificates-image:hover::before {
          display: block; } }

.scheme {
  padding: 40px 0;
  background-color: #ecf1f7; }
  .scheme-item {
    position: relative;
    margin-bottom: 20px;
    font-family: 'SFUIDisplayBold'; }
    .scheme-item__number {
      font-size: 110px;
      color: #fff;
      text-shadow: 0px 10px 30px rgba(166, 173, 182, 0.58);
      font-family: 'SFUIDisplayHeavy';
      line-height: 1; }
  @media screen and (min-width: 992px) {
    .scheme {
      padding: 100px 0; }
      .scheme-container {
        position: relative; }
        .scheme-container::before, .scheme-container::after {
          content: "";
          position: absolute;
          left: 100px;
          height: 10px;
          width: 800px;
          background-color: rgba(255, 255, 255, 0.3); }
        .scheme-container::before {
          top: 140px; }
        .scheme-container::after {
          top: 375px; }
      .scheme-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
      .scheme-item {
        flex: 0 0 26%;
        margin-bottom: 50px; } }

.discounts {
  padding: 40px 0;
  background: url("../images/discounts_bg.jpg") center no-repeat; }
  .discounts-slider {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 15px 60px rgba(180, 181, 187, 0.5); }
  .discounts-item {
    display: flex;
    align-items: center; }
    .discounts-item__image {
      display: none; }
  .discounts .owl-prev, .discounts .owl-next {
    margin-top: 0; }
  .discounts .owl-prev {
    left: -40px; }
  .discounts .owl-next {
    right: -40px; }
  @media screen and (min-width: 992px) {
    .discounts {
      padding: 100px 0 70px 0; }
      .discounts-slider {
        padding: 50px 60px 30px 60px;
        width: 700px; }
      .discounts-item {
        display: flex;
        align-items: center; }
        .discounts-item__image {
          margin-right: 40px;
          display: block; }
      .discounts .owl-prev, .discounts .owl-next {
        margin-top: -15px; } }

.sendok {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background: url("../images/sendok_bg.jpg") center/cover no-repeat; }
  .sendok-line {
    position: relative;
    padding-left: 15px; }
    .sendok-line::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
      background-color: #2085e1;
      border-radius: 50%; }
  .sendok img {
    box-shadow: -15px 15px 30px rgba(47, 47, 47, 0.14);
    border-radius: 50%; }
  @media screen and (min-width: 992px) {
    .sendok {
      padding: 50px 0;
      background: url("../images/sendok_bg.jpg") center no-repeat;
      min-height: 495px; } }

.reviews {
  margin: 40px 0;
  position: relative; }
  .reviews-insta-carousel .owl-stage-outer {
    padding: 50px 0; }
  .reviews-insta-carousel .owl-item img {
    margin: auto;
    /* box-shadow: 0px 0px 25px rgba(141, 141, 141, 0.5); */
    box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.5);

    border-radius: 12px; }

    .reviews-insta-carousel .item.big img{
      width: 100% !important;
    }
    @media screen and (min-width: 992px) {
      .reviews-insta-carousel .item.big img{
        width: auto !important;
      }
    }

  .reviews-insta-carousel .owl-dots {
    margin-top: -10px; }
  .reviews-video::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/reviews/play.png") center no-repeat; }
  .reviews-video img {
    margin: auto;
    cursor: pointer; }
    .reviews-video img:hover {
      opacity: 0.8; }
  .reviews-video-carousel .owl-prev, .reviews-video-carousel .owl-next {
    margin-top: -20px; }
  @media screen and (min-width: 992px) {
    .reviews {
      margin: 100px 0; }
      .reviews-video {
        cursor: pointer; }
        .reviews-video:hover {
          opacity: 0.8; }
          .reviews-video:hover::after {
            background-size: 40px; } }

.open {
  padding: 40px 0;
  background-color: #ecf1f7; }
  .open-item {
    background-color: #fff;
    padding: 15px 15px 20px 20px;
    position: relative;
    border-radius: 50px 0 0 0; }
    .open-item__image {
      position: absolute;
      left: 0;
      top: -20px; }
    .open-item__head {
      padding: 0 0 15px 130px; }
  @media screen and (min-width: 992px) {
    .open {
      padding: 100px 0; }
      .open-item {
        padding: 20px 40px 30px 40px;
        min-height: 380px; }
        .open-item__head {
          padding: 0 0 0 115px;
          height: 100px; } }

.calc-block {
  padding: 30px 20px 50px 20px; }
  .calc-block__title {
    font-family: 'SFUIDisplayBold';
    font-size: 35px;
    line-height: normal;
    margin-bottom: 30px; }

@media screen and (min-width: 992px) {
  .calc {
    height: 350px; }
    .calc-block {
      box-shadow: -5px 10px 50px rgba(173, 173, 173, 0.3);
      background-color: #fff;
      height: 380px;
      margin-top: -30px;
      padding: 100px 180px 100px 110px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .calc-block__left {
        flex: 0 0 500px;
        background: url("../images/calc_bg.png") top 5px left no-repeat;
        padding: 0 0 0 60px; }
      .calc-block__right {
        flex: 0 0 250px; } }

.map {
  background: url("../images/map.jpg") center left -860px no-repeat;
  min-height: 300px; }
  @media screen and (min-width: 992px) {
    .map {
      background: url("../images/map.jpg") center no-repeat;
      min-height: 460px; } }

.footer {
  padding: 30px 0;
  background: url("../images/footer_bg.png") center top 100px no-repeat; }
  .footer-phone {
    display: inline-block;
    background: url("../images/phone.png") left center no-repeat;
    padding-left: 30px; }
  .footer-location {
    display: inline-block;
    background: url("../images/location.png") top 5px left no-repeat;
    padding-left: 25px; }
  .footer-email {
    display: inline-block;
    background: url("../images/email.png") left center no-repeat;
    padding-left: 30px; }
  @media screen and (min-width: 992px) {
    .footer {
      padding: 100px 0 20px 0; }
      .footer-location {
        max-width: 400px; } }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 3px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */ }

/* Mouse-over effects */
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #2085e1;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%; }

.slider::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: #2085e1;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%; }


  /* ===================================================================== */
  p {
    margin-bottom: 0;
}

.begin {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
@media screen and (min-width: 992px) {
    .begin {
      background-position: center top;
      background-size: auto; 
    } 
}

@media screen and (min-width: 992px) {
    .friends-block__title {
      max-width: 350px;
    } 
}

@media screen and (min-width: 992px) {
    .prices-title {
      max-width: 550px;
    } 
}

.profitable {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
@media screen and (min-width: 992px) {
    .profitable {
        background-position: center;
        background-size: auto;
    }
}

@media screen and (min-width: 992px) {
    .examples {
        min-height: 580px;
    }
    .reviews {
        min-height: 1070px;
    }
}



@media screen and (max-width: 400px) {
  #modalCarouselInsta .modal-body {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  #modalCarouselInsta .item {
    padding: 100px 130px 0 130px;
  }
  #modalCarouselInsta .item.bigInsta {
    padding: 50px 20px 0 20px;
  }
}
@media screen and (max-width: 991px) {
  .owl-height{
    height:330px !important;
  }
  .examples_height{
    width: 50% !important;
  } 
  .item{
    width:100% !important;
  }
  .owl-item,
  .item,
  .owl-stage,
  .owl-lazy{
    height: 100% !important;
  }
  .examples-carousel .owl-dots {
    margin-top: 20px;
  }
  .examples-carousel .owl-prev,
  .examples-carousel .owl-next{
      top: 41%;
  }
}
@media screen and (max-width:768px) {
  .owl-height,
  .owl-item,
  .item,
  .owl-stage,
  .owl-lazy{
    height:auto !important;
  }
  .examples_height {
      width: 100% !important;
  }
}
