

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" style="height:100%">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>TravelLine &mdash; система онлайн-бронирования</title>
    <link rel="icon" type="image/gif" href="../Shared/images/favicon.png"/>
</head>
<body>
    <script type="text/javascript">
        // TRAVELLINE-16295 - начальный прелоадер при загрзке скриптов приложения
        var removeLoginPagePreloader = (function(){var e=document.createElement("style");e.innerHTML="body { background: #f7fafc; } @keyframes fade { from {opacity: 1;} to {opacity: 0.25;} }";var t=document.createElement("div");t.style.cssText="position: fixed; width: 120px; height: 120px; top: 50%; left: 50%; transform: translate(-50%, -50%);";for(var a=0;a<12;a++){var n=document.createElement("div");n.style.cssText="position: absolute; left: 44.5%; top: 37%; width: 12%; height: 26%; background: #90a8bf; color: #90a8bf; opacity: 0; border-radius: 50px;animation: fade 1s "+(a/12-1)+"s linear infinite;transform: rotate("+30*a+"deg) translate(0, -142%)",n.innerText=".",t.appendChild(n)}document.head.appendChild(e),document.body.appendChild(t);return function(){document.head.removeChild(e);document.body.removeChild(t);}})();
    </script>

    <link rel="stylesheet" href="css/login.css@v=12"/>
    <link rel="stylesheet" href="css/locale.css"/>
    <link rel="stylesheet" href="tlui/tlui.min.css@v=4"/>

    <script type="text/javascript" src="tlui/tlui-vendor.min.js@v=5"></script>
    <script type="text/javascript" src="tlui/tlui.min.js@v=5"></script>
    <script type="text/javascript" src="../Shared/js/BrowserInfo.js"></script>
    <script type="text/javascript" src="../Shared/js/tl-dropdown.js"></script>
    <script type="text/javascript">
        app = angular.module('TLSecure', ['tlui']);
    </script>
    <div class="body">
        <div class="product-icons"></div>
        <div id="lang-dropdown" class="dropdown-cont"></div>
        
    <script type="text/javascript">
        angular.module("TLSecure").controller( "LoginController", ['$scope', '$timeout', function ($scope, $timeout) {
            $scope.rememberMe = false;

            var fingerprint = new Fingerprint();

            $scope.handleKeypress = function (keyEvent) {
                if ( keyEvent != undefined && keyEvent.which === 13) {
                    $scope.login();
                }
            }

            $scope.login = function () {
                $( "#browserPlugins" ).val( fingerprint.getPluginsString() );
                $( "#timezone" ).val( new Date().getTimezoneOffset() );
                $( "#screenResolution" ).val( fingerprint.getScreenResolution() );
                $( "#login-form" ).submit();
            }

            $timeout(function () {
                angular.forEach(document.getElementsByTagName("input"), function (inputElement) {
                    if (inputElement != undefined) {
                        inputElement.removeAttribute("autocomplete");
                    }
                });
            }, 0);
        }]);

        angular.forEach(document.getElementsByTagName("meta"), function (element) {
            if (element !== null && element !== undefined && element.name === 'viewport') {
                element.parentNode.removeChild(element);
            }
        });

        var metaElement = document.createElement('meta');
        metaElement.setAttribute('name', 'viewport');
        metaElement.setAttribute('content', 'width=device-width,initial-scale=0.8');
        document.head.appendChild(metaElement);
    </script>
    
    <div ng-controller="LoginController" class="login-form">
        <div id="login-cont" class="well cont settings">
            <div class="well-header text-center">
                <h1>Вход в личный кабинет</h1>
            </div>
            <form id="login-form" action="index.html@lng=ru" method="post" tl-allow-enter-on-inputs>
                <input type="hidden" id="browserPlugins" name="browserPlugins"/>
                <input type="hidden" id="timezone" name="timezone"/>
                <input type="hidden" id="screenResolution" name="screenResolution"/>
                
                
                <tl-row class="margin-top">
                    <tl-column width="5">
                        <tl-text class="text" text="Логин"></tl-text>
                    </tl-column>
                    <tl-column width="7">
                        <tl-control-text value="" name="username" class="pull-right tl-control-full" ng-keypress="handleKeypress($event)" required autofocus></tl-control-text>
                    </tl-column>
                </tl-row>
                <tl-row padding="">
                    <tl-column width="5">
                        <tl-text class="text" text="Пароль"></tl-text>
                    </tl-column>
                    <tl-column width="7">
                        <tl-control-password name="password" class="tl-control-full" ng-keypress="handleKeypress($event)" can-show-password="true" required></tl-control-password>
                    </tl-column>
                </tl-row>
                <tl-row>
                    <tl-column width="5">
                    </tl-column>
                    <tl-column width="7">
                        <div class="pull-left">
                            <tl-control-checkradio ng-model="rememberMe" tl-control-checkradio-type="checkbox" class="remember-me" tl-control-checkradio-text="Запомнить меня"></tl-control-checkradio>
                            <input type="hidden" value="{{rememberMe}}" name="rememberMe"/>
                        </div>
                    </tl-column>
                </tl-row>
                
                <tl-separator style="margin: 10px 0 15px 0;"></tl-separator>
                <tl-row>
                    <tl-column width="5">
                        <tl-link button-text="Забыли пароль?" button-type="solidLink" class="forgot-password" href="/secure/ForgotPassword.aspx"></tl-link>
                    </tl-column>
                    <tl-column width="7">
                        <tl-button class="pull-right tl-control-full" type="primary" text="Войти" ng-click="login()"></tl-button>    
                    </tl-column>
                </tl-row>
            </form>
        </div>
        
        <div class="mobile-apps">
            
            <div class="mobile-app-link">
                <a href="https://itunes.apple.com/ru/app/tl-extranet/id1137018179?mt=8" target="_blank"><img src="images/appstore_ru.png" alt=""/></a>
            </div>
            
            <div class="mobile-app-link">
                <a href="https://play.google.com/store/apps/details?id=ru.travelline.extranet" target="_blank"><img src="images/google_play_ru.png" alt=""/></a>
            </div>
            
        </div>
        
    </div>
    

        
        <div class="footer">
            <div class="pull-left">&copy; Компания «Трэвел Лайн». 2008—2019</div>
            <div class="pull-right">
                <a href="https://travelline.ua/personal-info">Политика конфиденциальности</a>
                <a href="https://travelline.ua/terms">Условия использования</a>
                <a href="https://travelline.ua/registration/?utm_source=authorization_form&amp;utm_medium=special&amp;utm_campaign=send_request">Стать партнером</a>
                <a href="https://travelline.ua/about">О компании</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        angular.bootstrap($('body'), ['TLSecure']);
        removeLoginPagePreloader();
    </script>
    <script type="text/javascript" src="../Shared/js/LogInPage.js"></script>
</body>
</html>