.lng-switcher-cont {
    clear: both; 
    float: left; 
    margin: 10px 0; 
    background-color: #F5F5F5;
    padding: 10px 0 10px 20px; 
    width: 98%;
}

.dropdown-cont {
    float: right;
    margin: 20px 20px 0 0;
    vertical-align: bottom;
}

.tl-dropdown {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.tl-dropdown-inner {
    position: relative;
}

.tl-dropdown-current {
    position: relative;
    background-color: #97bbde;
    color: black;
    cursor: pointer;
    padding: 2px 13px 2px 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #97bbde;
    white-space: nowrap;
    vertical-align: bottom;
}

.tl-dropdown-current:hover,
.tl-dropdown-current.tl-dropdown-hover {
    border: 1px solid #BDBDBD;
}

.tl-dropdown-arrow {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -3px;
    font-size: 8px;
    line-height: 8px;
    color: #214E99;
}

.tl-dropdown.tl-dropdown-show-arrow .tl-dropdown-arrow {
    display: block;
}

.tl-dropdown-list {
    display: none;
    background-color: white;
    position: absolute;
    list-style: none;
    margin: -1px 0 0 0;
    padding: 2px;
    top: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #BDBDBD;
}

.tl-dropdown-item {
    color: black;
    cursor: pointer;
}

.tl-dropdown-item:hover,
.tl-dropdown-item.tl-dropdown-hover {
    background-color: #7F9DB9;
    color: white;
}

.tl-dropdown.tl-dropdown-expanded .tl-dropdown-current {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border: 1px solid #BDBDBD;
    border-bottom: none;
    padding-bottom: 3px;
    z-index: 10000;
}

.tl-dropdown.tl-dropdown-expanded .tl-dropdown-list {
    display: block;
    z-index: 9999;
}

.tl-dropdown.tl-dropdown-right .tl-dropdown-list {
    left: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
}

.tl-dropdown.tl-dropdown-left .tl-dropdown-list {
    right: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}

.lang-dropdown .tl-dropdown-current-inner {
  padding: 1px 3px;
  height: 26px;
  line-height: 19px;
  overflow: hidden;
  white-space: nowrap;
}
.lang-dropdown .tl-dropdown-current:hover {
  box-shadow: 0 0 2px #bdbdbd;
  -webkit-box-shadow: 0 0 2px #bdbdbd;
  -moz-box-shadow: 0 0 2px #bdbdbd;
}
.lang-dropdown.tl-dropdown-expanded .tl-dropdown-current {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #fff;
}
.lang-dropdown .tl-dropdown-item {
  width: 150px;
  padding: 5px 10px;
  text-align: left;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
}
.lang-dropdown .lang-dropdown-item span {
  padding-left: 5px;
  padding-right: 20px;
}
.lang-dropdown .flag-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/flags.png") no-repeat;
  width: 32px;
  height: 24px;
  vertical-align: bottom;
}
.lang-dropdown .flag-icon.flag-ru {
  background-position: 0 0;
}
.lang-dropdown .flag-icon.flag-en {
  background-position: -32px 0;
}
.lang-dropdown .flag-icon.flag-en_us {
  background-position: -64px 0;
}
.lang-dropdown .flag-icon.flag-fr {
  background-position: -96px 0;
}
.lang-dropdown .flag-icon.flag-uk {
  background-position: -128px 0;
}
.lang-dropdown .flag-icon.flag-pl {
  background-position: -160px 0;
}
.lang-dropdown .flag-icon.flag-ka {
    background-position: -192px 0;
}
.lang-dropdown .flag-icon.flag-bg {
    background-position: -224px 0;
}

